<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lista de Tarefas</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container-fluid vh-100 bg-dark text-light">
      <div
        class="container vh-100 d-flex justify-content-center align-items-center flex-column text-center"
      >
        <h1 class="fw-bold display-5">Bem-vindo ao B-Productive</h1>
        <p class="lead">
          Organize duas tarefas de forma eficiente e aumente sua produtividade!
        </p>
        <p class="lead" style="max-width: 700px">
          O B-Productive oferece uma maneira simples e intuitiva de gerenciar
          suas atividades diárias, seja no trabalho, nos estudos ou na vida
          pessoal. Crie listas personalizadas, adicione tarefas com facilidade,
          acompanhe o progresso e nunca mais esqueça uma tarefa importante!
        </p>
        <form action="/app" method="get">
          <button
            type="submit
          "
            class="btn btn-primary"
          >
            Comece a Gerenciar suas Tarefas
          </button>
        </form>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
